# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Metabase
MB_DB_USER=
MB_DB_PASS=

# DBT
DBT_POSTGRES_USER=
DBT_POSTGRES_PW=
DBT_POSTGRES_DB=
DBT_POSTGRES_HOST=

# OnlyOffice
JWT_SECRET=
